* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --primaryColor: #d3d3d3;
  --lightSecondaryColor: #272a31;
  --darkSecondaryColor: #222;
  --accentColor: #ec5242;
  --white: #fff;

  font-family: 'Lato', sans-serif;
}

.desktop {
  position: absolute;
  visibility: hidden;
  top: 0;
  left: 0;
}

p {
  line-height: 1.5rem;
}

a {
  color: var(--lightSecondaryColor);
  text-decoration: none;
}

.no-pop {
  margin: 1rem 0 1rem 2rem;
  float: left;
  background-color: transparent;
}

#hamburger-menu {
  width: 1.25rem;
}

#hero {
  background: url(assets/mobile_intro_bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#hero-content {
  padding: 4.688rem 2rem 1rem 2rem;
}

#hero-header {
  color: var(--accentColor);
  margin-bottom: 1rem;
}

#hero-header > h4 {
  font-weight: 400;
  font-size: 1.25rem;
}

#hero-header > h1 {
  font-weight: 900;
  font-size: 2.5rem;
}

#hero-description {
  border: 0.25rem solid white;
  background-color: #f7f7f8;
  padding: 1rem 0 1rem 1rem;
  margin-bottom: 1rem;
}

#hero-description > p {
  font-weight: 400;
  font-size: 1rem;
  color: var(--lightSecondaryColor);
}

#hero-details {
  color: var(--lightSecondaryColor);
  text-align: center;
  margin-bottom: 5rem;
}

#hero-details > h2 {
  font-weight: 900;
  letter-spacing: 0.125rem;
}

#hero-details > p {
  font-weight: 400;
  font-size: 1rem;
}

#main-program {
  padding: 3rem 1rem;
  color: var(--primaryColor);
  background-image: url(assets/pattern_bg.png);
  background-color: var(--lightSecondaryColor);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.section-heading {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  text-align: center;
  font-weight: 400;
  font-size: 1.5rem;
}

hr {
  color: var(--accentColor);
  width: 9%;
  margin: 0 auto;
  border: 1px solid;
}

#cards {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.program-card {
  background: #d3d3d320;
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0.5rem;
  font-weight: 400;
  color: var(--primaryColor);
}

.program-name {
  text-align: left;
  color: var(--accentColor);
  margin-right: auto;
}

#join-program {
  font-weight: 400;
  font-size: 1rem;
  width: fit-content;
  margin: 0 auto;
  color: var(--primaryColor);
  background-color: var(--accentColor);
  border: none;
  padding: 1.5rem;
  border-radius: 0.1rem;
}

#featured-speakers {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 3rem 1.5rem;
  background-color: #f8f8f8;
}

#speakers {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0 auto;
}

.speaker-card {
  display: grid;
  grid-template-columns: 2fr 4fr;
  align-items: center;
  gap: 0.8rem;
}

.speaker-img {
  width: fit-content;
  height: auto;
}

.speaker-img > img {
  width: 100%;
  height: auto;
  margin: 0;
}

.speaker-details {
  max-width: 21.563rem;
}

.name {
  font-weight: 900;
  color: var(--lightSecondaryColor);
  font-size: 1rem;
  margin-bottom: 0.25rem;
}

.qualifications {
  font-size: 0.9rem;
  font-weight: 400;
  font-style: italic;
  color: var(--accentColor);
  margin-bottom: 0.5rem;
}

.bio {
  font-size: 1rem;
  font-weight: 400;
  color: var(--lightSecondaryColor);
}

#speaker-btn {
  border: 0.1rem solid #272a31;
  background: inherit;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 400;
  color: var(--lightSecondaryColor);
}

#speaker-btn > img {
  margin-left: 0.2rem;
}

.hidden {
  display: none;
}

/****************** Mobile Pop-up Menu ******************/
.pop {
  margin: 1rem 2rem 1rem 0;
  float: right;
  background-color: transparent;
}

#popup-mobile-menu {
  background-color: var(--lightSecondaryColor);
  z-index: 3;
  height: 100vh;
}

#mobile-menu-list {
  padding: 4rem 2rem;
  margin-right: 6rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  color: #ec5242;
}

.nav-style {
  color: var(--primaryColor);
  font-size: 1.5rem;
  border-bottom: 0.2rem solid #ec5242;
  padding-bottom: 0.75rem;
}

.special-nav-style {
  font-size: 1.5rem;
  color: var(--primaryColor);
  border: 1rem solid #ec5242;
  background: var(--accentColor);
  width: fit-content;
}

@media screen and (min-width: 768px) {
  .mobile {
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
  }

  .desktop {
    visibility: visible;
    position: static;
  }

  #top-bar {
    background: var(--lightSecondaryColor);
    padding: 0.5rem 6rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 2rem;
  }

  #top-bar > a {
    color: var(--primaryColor);
  }

  #nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.25rem 6rem;
  }

  #nav-links > ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
  }

  .regular-link:hover {
    color: var(--accentColor);
  }

  #special-link {
    color: var(--accentColor);
    font-weight: 700;
    border: 0.25rem solid #ec5242;
    padding: 0.5rem;
  }

  #hero {
    background: url(assets/main_big.png);
    background-size: contain;
  }

  #hero-content {
    display: flex;
    flex-direction: column;
    align-items: first baseline;
    padding-top: 8rem;
    max-width: 68.75rem;
    width: 98%;
    margin: 0 auto;
    gap: 0;
  }

  .section-heading > h4 {
    font-size: 2rem;
  }

  #hero-header > h4 {
    font-size: 2rem;
  }

  #hero-header > h1 {
    font-size: 5rem;
  }

  #hero-description {
    padding: 0.625rem 1.563rem 0;
    margin: 0.938rem 0 2.5rem;
  }

  #hero-description > p {
    text-align: justify;
    width: 39.438rem;
    height: 5.625rem;
    line-height: 2rem;
    font-size: 1.125rem;
  }

  #hero-details {
    text-align: left;
  }

  #hero-details > h2 {
    font-size: 2.25rem;
    margin-bottom: 0.625rem;
  }

  #hero-details > p {
    font-size: 1.5rem;
  }

  hr {
    width: 4%;
  }

  #cards {
    display: flex;
    flex-direction: row;
    padding: 0 10rem;
  }

  .program-icon {
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 0.5rem;
  }

  .program-name {
    width: 100%;
    margin: 0;
    margin-bottom: 0.5rem;
    text-align: center;
    margin-right: 0;
  }

  .program-card {
    background: #d3d3d320;
    display: inline;
    row-gap: 0;
    gap: 0;
    width: 20%;
  }

  .program-card:hover {
    border: 0.1rem solid #d3d3d3;
  }

  .program-description {
    text-align: center;
  }

  #program-link {
    color: var(--primaryColor);
    margin: 0 auto;
    text-decoration: underline;
  }

  #program-link:hover {
    color: var(--accentColor);
  }

  #speakers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  #partners > div > h4 {
    color: var(--primaryColor);
    text-align: center;
  }

  #partners {
    background: var(--lightSecondaryColor);
    padding: 1rem;
  }

  #partner-logos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 2rem;
    gap: 1rem;
    padding: 1rem;
  }

  #partner-logos > img {
    max-width: 5.625rem;
    filter: grayscale(100%);
  }

  #footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    font-size: 1rem;
    padding: 2rem 2rem 1rem 0.5rem;
    background: var(--primaryColor);
  }
}
