* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Lato', sans-serif;

  --primaryColor: #d4d4d4;
  --lightColor: #26292f;
  --orangeColor: #eb5443;
}

.desktop {
  position: absolute;
  visibility: hidden;
  top: 0;
  left: 0;
}

a {
  color: var(--lightColor);
  text-decoration: none;
}

.no-pop {
  float: left;
  margin: 1rem 0 1rem 2rem;
}

#hamburger-menu {
  width: 1.25rem;
}

#homepage {
  background: url(assets/mobile_intro_bg.png) no-repeat center;
  background-size: cover;
}

#homepage-content {
  padding: 4.688rem 2rem 1rem 2rem;
}

#homepage-header {
  color: var(--orangeColor);
  margin-bottom: 1rem;
}

#homepage-header > h4 {
  font-weight: 400;
  font-size: 1.25rem;
}

#homepage-header > h1 {
  font-weight: 900;
  font-size: 2.5rem;
}

p {
  line-height: 1.5rem;
}

#homepage-description {
  border: 0.25rem solid #fff;
  background-color: #f7f7f8;
  padding: 1rem 0 1rem 1rem;
  margin-bottom: 1rem;
}

#homepage-description > p {
  font-weight: 400;
  font-size: 1rem;
  color: var(--lightColor);
}

#homepage-details {
  color: var(--lightColor);
  text-align: center;
  margin-bottom: 5rem;
}

#homepage-details > h2 {
  font-weight: 900;
  letter-spacing: 0.125rem;
}

#homepage-details > p {
  font-weight: 400;
  font-size: 1rem;
}

#main-program {
  background: var(--lightColor) url(assets/pattern_bg.png);
  color: var(--primaryColor);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 3rem 1rem;
}

.section-heading {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 1.5rem;
  gap: 0.75rem;
  text-align: center;
}

hr {
  color: var(--orangeColor);
  width: 9%;
  margin: 0 auto;
  border: 1px solid;
}

#cards {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.program-card {
  background-color: #d3d3d320;
  color: var(--primaryColor);
  font-weight: 400;
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0.5rem;
}

.program-name {
  text-align: left;
  color: var(--orangeColor);
  margin-right: auto;
}

#join-program {
  background: var(--orangeColor);
  border: none;
  border-radius: 0.1rem;
  color: var(--primaryColor);
  font-weight: 400;
  font-size: 1rem;
  width: fit-content;
  margin: 0 auto;
  padding: 1.5rem;
}

#featured-speakers {
  background: #f8f8f8;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 3rem 1.5rem;
}

#speakers {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0 auto;
}

.speaker-card {
  display: grid;
  grid-template-columns: 2fr 4fr;
  align-items: center;
  gap: 0.8rem;
}

.speaker-img {
  width: fit-content;
  height: auto;
}

.speaker-img > img {
  width: 100%;
  height: auto;
  margin: 0;
}

.speaker-details {
  max-width: 21.563rem;
}

.name {
  font-weight: 900;
  color: var(--lightColor);
  font-size: 1rem;
  margin-bottom: 0.25rem;
}

.job {
  font-size: 0.9rem;
  font-weight: 400;
  font-style: italic;
  color: var(--orangeColor);
  margin-bottom: 0.5rem;
}

.desc {
  font-size: 1rem;
  font-weight: 400;
  color: var(--lightColor);
}

#speaker-btn {
  border: 0.1rem solid #272a31;
  background: inherit;
  color: var(--lightColor);
  font-size: 1rem;
  font-weight: 400;
  padding: 0.5rem;
}

#speaker-btn > img {
  margin-left: 0.2rem;
}

.hidden {
  display: none;
}

/* ----  Mobile Pop-up Menu ---  */
.pop {
  margin: 1rem 2rem 1rem 0;
  float: right;
}

#popup-mobile-menu {
  background: var(--lightColor);
  height: 100vh;
  z-index: 3;
}

#mobile-menu-list {
  color: #ec5242;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-right: 6rem;
  padding: 4rem 2rem;
}

.nav-style {
  border-bottom: 0.2rem solid #ec5242;
  color: var(--primaryColor);
  font-size: 1.45rem;
  padding-bottom: 0.75rem;
}

.special-nav-style {
  background-color: var(--orangeColor);
  border: 1rem solid #ec5242;
  color: var(--primaryColor);
  font-size: 1.5rem;
  width: fit-content;
}

@media screen and (min-width: 768px) {
  .mobile {
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
  }

  #popup-mobile-menu {
    display: none;
    height: 0;
    width: 0;
    overflow: hidden;
  }

  .desktop {
    visibility: visible;
    position: static;
  }

  #top-bar {
    background-color: var(--lightColor);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 2rem;
    padding: 0.48rem 5.9rem;
  }

  #top-bar > a {
    color: var(--primaryColor);
  }

  #nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.3rem 5.8rem;
  }

  #nav-links > ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
  }

  #nav-links > ul > li > a:hover {
    color: var(--orangeColor);
  }

  #campaign {
    border: 0.25rem solid #ec5242;
    color: var(--orangeColor);
    font-weight: 700;
    padding: 0.5rem;
  }

  #homepage {
    background-image: url(assets/main_big.png);
    background-size: cover;
  }

  #homepage-content {
    display: flex;
    flex-direction: column;
    align-items: first baseline;
    max-width: 68.75rem;
    width: 98%;
    gap: 0;
    margin: 0 auto;
    padding-top: 8rem;
  }

  .section-heading > h4 {
    font-size: 2rem;
  }

  #homepage-header > h4 {
    font-size: 2rem;
  }

  #homepage-header > h1 {
    font-size: 5rem;
  }

  #homepage-description {
    margin: 1rem 0 2.6rem;
    padding: 0.7rem 1.6rem 0;
  }

  #homepage-description > p {
    font-size: 1.3rem;
    height: 5.95rem;
    line-height: 2rem;
    text-align: justify;
    width: 39rem;
  }

  #homepage-details {
    text-align: left;
  }

  #homepage-details > h2 {
    font-size: 2.25rem;
    margin-bottom: 0.7rem;
  }

  #homepage-details > p {
    font-size: 1.5rem;
  }

  hr {
    width: 5%;
  }

  #cards {
    display: flex;
    flex-direction: row;
    padding: 0 10rem;
  }

  .program-icon {
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 0.5rem;
  }

  .program-name {
    width: 100%;
    margin: 0;
    margin-bottom: 0.5rem;
    text-align: center;
    margin-right: 0;
  }

  .program-card {
    background: #d3d3d320;
    display: inline;
    row-gap: 0;
    gap: 0;
    width: 20%;
  }

  .program-card:hover {
    border: 0.1rem solid #d3d3d3;
  }

  .program-description {
    text-align: center;
  }

  #program-link {
    color: var(--primaryColor);
    margin: 0 auto;
    text-decoration: underline;
  }

  #program-link:hover {
    color: var(--orangeColor);
  }

  #speakers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  #partners > div > h4 {
    color: var(--primaryColor);
    text-align: center;
  }

  #partners {
    background: var(--lightColor);
    padding: 1rem;
  }

  #partner-logos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 2rem;
    gap: 1rem;
    padding: 1rem;
  }

  #partner-logos > img {
    max-width: 5.625rem;
    filter: grayscale(100%);
  }

  #footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    font-size: 1rem;
    padding: 2rem 2rem 1rem 0.5rem;
    background: var(--primaryColor);
  }
}
